<div class="container">
    <div class="row">
      <div class="col-">
        <app-list-of-products></app-list-of-products>
      </div>
      <div class="col-lg">
        <app-nav></app-nav>
        <div class="d-flex flex-wrap">
            <mat-card class="example-card">
                <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>test</mat-card-title>
                <mat-card-subtitle>test</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                </p>
                <div class="container rtl">
                    <div class="col">
                        <div class="row">
                            <span>رنگ:</span>

                        </div>
                        <div class="row">
                            <span>ابعاد:</span>
                            
                        </div>
                        <div class="row">
                            <span>سایز:</span>
                            
                        </div>
                        <div class="row">
                            <span>قیمت:</span>
                            
                        </div>
                        <div class="row">
                            <span>میزان موجودی درانبار:</span>
                            
                        </div>
                    </div>
                    <button class="order pointer" mat-button>ثبت سفارش</button>
                </div>
                </mat-card-content>
            </mat-card> 
        </div>
      </div>
    </div>
</div>