.example-card {
    max-width: 400px;
    margin: 12px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .detail{
    background-color: #3bc400;
    width: 70px;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
  }

  .comparision{
    background-color: #3b52ac;
    width: 70px;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
  }