/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer{
    cursor: pointer;
}
.success-snackbar {
    background: rgb(158, 219, 67);
    button {
        background-color: gray;
        color: rgb(115, 213, 115); 
    }
  }